@import url('./reset.css');
@import url('./base.css');

header {
  text-align: center;
  margin-bottom: 20px;
}

#search-form {
  display: inline-flex;
  gap: 10px;
  margin-top: 20px;
}

#search-form input {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 10px;
}

#search-form button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}
#search-form button:hover {
  background-color: #007bff;
  color: white;
}
#search-form input:focus {
  outline: none;
  border: 2px solid #007bff;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.gallery-item {
  width: calc(33.333% - 20px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  display: block;
  border-radius: 10px;
  transition: outline 0.3s ease;
  outline: 0;
}

.gallery-item:hover,
.gallery-item:focus {
  outline: 2px solid rgba(60, 91, 228, 0.74);
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 14px;
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
}

.info p {
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #333;
}

.info p span {
  font-weight: normal;
  color: #555;
  font-size: 16px;
}

.loader {
  width: 40px;
  height: 40px;
  border: 5px solid #ccc;
  border-top-color: #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: none;
  margin: 20px auto;
}

.loader.visible {
  display: block;
}

.hidden {
  display: none;
}

.load-more {
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  text-align: center;
}

.load-more.hidden {
  display: none;
}

.load-more:hover {
  background-color: #0056b3;
}
.simple-lightbox .sl-close {
  background-color: rgba(31, 30, 30, 0.425);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.simple-lightbox .sl-close:hover,
.simple-lightbox .sl-close:focus {
  background-color: rgba(7, 93, 253, 0.664);
  transform: scale(1.1);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
